.DS_Store

# Local editor and Python scratch files
.vscode/
.venv/
__pycache__/
*.py[cod]

# CMake and Pico SDK build outputs
firmware/build*/
/build-debug-uac1/
/build-debug-uac2/
/build-release-uac1/
/build-release-uac2/
*.bin
*.dis
*.elf
*.elf.map
*.hex
*.uf2
*.o
*.d
